<div id="teacher-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div>
        <p id="notice"><%= notice %></p>
          <div class="card-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name:</th>
                  <th>Adress</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td><%= @teacher.name %></td>
                  <td><%= @teacher.address %></td>
                  <td><%= @teacher.phone %></td>
                  <td><%= @teacher.email %></td>
                  <td><span class="label label-danger">Released</span></td>
                  <td>Coderthemes</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>